body {
	background-color: aqua;
	text-align: center;
}

h1{
	font-size: 30px;
	color: black;
}

p {
	color: black;
	font-size: 25px;
}
#imagem1{
	width: 100%;
	border: 2px solid black;
	height: 20%;
}

iet
em strong {
	color: #FF0000;
}
